:root{
    --bgTop: #2D767F; 
    --bgAbout: #D4F9F1;
    --bgPara: #B4F1F1;
    --bgBot: #0F4444;

}

.c-bgTop{
    background-color:var(--bgTop);
}

.c-bgPara{
    background-color:var(--bgPara);
}

.c-bgAbout{
    background-color:var(--bgAbout);
}

.c-bgBot{
    background:var(--bgBot)
}

.c-topColor{
    color:var(--bgTop);
}

.c-paraColor{
    color:var(--bgPara);
}

.c-aboutColor{
    color:var(--bgAbout);
}

.c-textColor{
    color:var(--bgBot)
}

.c-title{
    font-size: 50px;
}

.c-paraFont{
    font-size: 20px;
}


.c-profileImage {
    position: relative;
    width: 300px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
  }

.c-background{
    
    background-image: url('../assets/bgSky-unsplash.jpg');
    background-repeat: no-repeat;
    z-index:-1;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
