:root{
    --bgTop: #2D767F; 
    --bgAbout: #D4F9F1;
    --bgPara: #B4F1F1;
    --bgBot: #0F4444;

}

.c-bgTop{
    background-color:var(--bgTop);
}

.c-bgPara{
    background-color:var(--bgPara);
}

.c-bgAbout{
    background-color:var(--bgAbout);
}

.c-bgBot{
    background:var(--bgBot)
}

.c-topColor{
    color:var(--bgTop);
}

.c-paraColor{
    color:var(--bgPara);
}

.c-aboutColor{
    color:var(--bgAbout);
}

.c-textColor{
    color:var(--bgBot)
}

.c-title{
    font-size: 50px;
}

.c-paraFont{
    font-size: 20px;
}

.c-bigTitleFont{
    font-size:120px;
    position: relative;
    margin-top: 5vh;
    left: 10vw;
    tab-size: 5vw;
    margin-bottom: 2vh;
    
  
}

.c-fullScreen{
    height:100vh;
}

.c-roundCorners{
    border-radius: 5px;
}

#c-aboutPara{
    max-width: 570px;

}

#c-aboutParaBack{
    max-width: 620px;
}

#c-aboutContentContainer{
    margin-top: 20px;
}


.c-oneThird {
    float: left;
    width: 33.33%;
  }

  .c-twoThirds{
    float: left;
    width: 66.67%;
  }
.c-profileImage {
    width: 328px;
    height: auto;
    overflow: hidden;
    border-radius: 50%;
    margin-left: 100px;
    margin-bottom: 100px;
  }

.c-background{
    
    background-image: url('../assets/bgSky-unsplash.jpg');
    background-repeat: no-repeat;
    z-index:-1;
    background-attachment: fixed;
    background-size: 100vw 100vh;
}
